<div class="blockhead">
  <h3><%= "Today in #{@location.city}:" %></h3>
</div>
<div class="blockbody">
  <h2> <%= @message.temp %> </h2>
  <h2> <%= @message.wind %> </h2>
  <h2> <%= @message.rain %> </h2>
  <h2> <%= @message.humidity %> </h2>
  <h2> <%= @message.snow %> </h2>
</div>
