<ul class="slideshow">
  <li><span>Image 01</span></li>
  <li><span>Image 02</span></li>
  <li><span>Image 03</span></li>
  <li><span>Image 04</span></li>
  <li><span>Image 05</span></li>
  <li><span>Image 06</span></li>
</ul>

<div class="container">
  <div class="top-bar">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="top-bar-right">
        <ul class="menu horizontal">
          <% if user_signed_in? %>
            <li>
              <%= link_to "Hi #{current_user.first_name}",
                user_path(current_user)
              %>
            </li>
            <li>
              <%= link_to "Sign Out",
                destroy_user_session_path, method: :delete
              %>
            </li>
          <% else %>
            <li> <%= link_to "Sign In", new_user_session_path %> </li>
            <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
          <% end %>
        </ul>
    </div>
  </div>
  <div class="title">What's it like out?</div>
  <h2>Be prepared for the day's weather</h2>
    <% if user_signed_in? && @location != nil %>
      <div class="jumbotron">
        <div class="box">
          <%= render "users/message" %>
        </div>
      </div>
    <% else %>
      <h2>First time here? Enter your <span><%= link_to "Location", new_location_path %></span> for your recommendation</h2>
    <% end %>
</div>
