<div class="top-bar">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="top-bar-right">
      <ul class="menu horizontal">
        <% if user_signed_in? %>
          <li>
            <%= link_to "Hi #{current_user.first_name}",
              user_path(current_user)
            %>
          </li>
          <li>
            <%= link_to "Sign Out",
              destroy_user_session_path, method: :delete
            %>
          </li>
        <% else %>
          <li> <%= link_to "Sign In", new_user_session_path %> </li>
          <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
        <% end %>
      </ul>
  </div>
</div>
  <div class='form-box'>

    <h2 class='sign-header'>Sign in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Sign in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
